<div class="flex justify-between">
    <div class="w-4/5 text-justify">
        <p>O <strong class="color-black">Eventos em Nuvens</strong> (<strong class="color-black">EveN</strong>) é a solução que você procurava para realizar de maneira descomplicada seus seminários, simpósios ou congressos. Uma plataforma web testada e aprovada por diversas instituições, que facilita a participação de autores, avaliadores, coordenadores de avaliação e gerentes de inscrições.</p>
        <p>Com tudo isso, a comissão organizadora fica tranquila e não precisa se preocupar com questões técnicas relacionadas ao funcionamento do sistema.</p>
        <p>Plataforma reúne serviços indispensáveis</p>
        <ul>
            <li>Recepção de artigos com validação de coautores</li>
            <li>Convite e designação de avaliadores</li>
            <li>Sistema duplo-cego de revisão por pares</li>
            <li>Controle de pagamento de inscrições, emissão de boletos e pagamento por cartão de crédito</li>
            <li>Envio de e-mail para grupos de usuários: autores, avaliadores, inscritos</li>
            <li>Emissão de certificados e relatórios</li>
            <li>Plataforma integrada para a confecção do site do evento</li>
            <li>Acessível via internet 24h por dia, 7 dias por semana, por até 1 ano após o evento</li>
            <li>Múltiplos backups, armazenados em locais geograficamente distintos</li>
            <li>Publicação dos Anais Eletrônicos na Web</li>
        </ul>
    </div>
    <div>
        <img class="mt-6" src="{{ $.Site.Params.images.logoEventos }}" alt="Eventos em Nuvens">
    </div>
</div>
