<div class="flex justify-between">
    <div class="w-4/5 text-justify">
        <p><strong class="color-black">Grupos em Nuvens (GeN)</strong> é uma plataforma na web desenvolvida para o gerenciamento de grupos como associações, conselhos profissionais e sindicatos.</p>
        <p>Faz o controle administrativo dos sócios, auxilia nas atividades complementares e gestão do site do grupo.</p>
        <p>A área do associado permite o controle da sua associação no grupo, atualiza dados pessoais por meio de cadastros personalizados, gerencia inscrição em atividades (cursos, palestras, oficinas) e o pagamento de taxas e anuidades via boleto bancário.</p>
        <p>Na área do administrador o cliente pode ver informações sobre os associados, controlar o pagamento de anuidade e inscrições em eventos e atividades. O sistema oferece ainda uma plataforma para gerenciar o site do grupo.</p>
    </div>
    <div>
        <img class="mt-6" src="{{ $.Site.Params.images.logoGrupos }}" alt="Grupos em Nuvens">
    </div>
</div>