<h3 class="font-semibold">Apresentação</h3>

<p>A Lepidus tem sua sede em Florianópolis (SC) e também já teve um escritório em Manaus (AM), onde reside a maior parte de nossa equipe de desenvolvimento. Desde a pandemia, passamos a trabalhar de forma remota.</p>

<p>Prezamos pela diversidade independentemente de cor, gênero, idade (excetuando-se as providências dispostas em Lei), estado civil, religião, orientação sexual. Currículos de Pessoas com Deficiência (PCDs) são bem-vindos para todas as vagas anunciadas, bem como de qualquer grupo que se sinta sub-representado.</p>

<p>Estamos com vagas abertas para estágio:</p>

<h3 class="font-semibold">Auxiliar Financeiro Administrativo</h3>
<br>
<h5>Requisitos:</h5>
<ul>
    <li>
        Organização
    </li>
    <li>
        Responsabilidade
    </li>
    <li>
        Foco
    </li>
    <li>
        Bom uso da língua portuguesa (escrita e falada)
    </li>
    <li>
        Boa comunicação
    </li>
    <li>
        Gostar de trabalhar em equipe
    </li>
    <li>
        Conhecimentos básicos de informática
    </li>
    <li>
        Habilidade com planilhas e documentos (Word/Excel/LibreOffice/Google Drive)
    </li>
</ul>
<br>
<h5>Conhecimentos desejados:</h5>
<ul>
    <li>
        Experiência com administrativo/financeiro
    </li>
    <li>
        Vivência com sistemas ERP
    </li>
</ul>
<br>
<h5>Diferencial:</h5>
<ul>
    <li>
        Proatividade
    </li>
    <li>
        Interesse em aprimorar procedimentos  
    </li>
    <li>
        Experiência com ferramentas de gestão de tarefas (exemplo: trello)  
    </li>
    <li>
        Leitura e escrita em inglês ou espanhol   
    </li>
</ul>

<p><strong class="color-black">Local:</strong> Manaus (AM).</p>

<p><strong class="color-black">Modalidade:</strong> Remoto, com possibilidade de ser presencial ou híbrido no futuro.</p>

<p><strong class="color-black">Carga horária:</strong> 6 horas diárias.</p>

<p><strong class="color-black">Bolsa auxílio:</strong> R$ 800,00.</p>

<p>Interessados(as) devem <a href="https://docs.google.com/forms/d/e/1FAIpQLSeu93rSV9HUdFU6YoU76Z9mfA9uNaJZ_kLBEc-1cPEy40ab6w/viewform">preencher este formulário</a> para se candidatar a vaga.</p>