<div class="flex justify-between">
    <div class="w-4/5 text-justify">
        <p>O <a href="https://periodicos.emnuvens.com.br/"><strong>Periódicos em Nuvens</strong></a> é uma solução completa para periódicos tecno-científicos, permitindo que os editores concentrem seus esforços no fluxo editorial e conteúdo de suas revistas. Nela, oferecemos um ambiente SEER/OJS pronto para o uso, além de uma série de serviços adicionais para atender as necessidades específicas de cada equipe editorial.</p>
        <p>Com esta solução, a instituição não precisará alocar equipamentos para a plataforma SEER, tampouco haverá a necessidade de uma equipe técnica interna para manter esta plataforma e os sub-sistemas dos quais depende (servidor de email, banco de dados, servidor Web, etc).</p>
        <p>O <a href="https://periodicos.emnuvens.com.br/">Periódicos em Nuvens</a> ofereçe:</p>
        <ul>
            <li>Um SEER/OJS pronto para uso pela instituição</li>
            <li>Acessível via Internet 24h por dia, sete dias por semana</li>
            <li>Manutenção por uma equipe especializada</li>
            <li>Atualização para novas versões</li>
            <li>Cópias de segurança (backup) diárias</li>
            <li>Suporte técnico em relação a problemas/requisitos da instalação</li>
            <li>Servidor devidamente dimensionado para atender o crescimento do periódico, sem perda de qualidade</li>
            <li>Endereço gratuito no formato <seu periódico>.emnuvens.com.br e possibilidade de uso de endereços da própria revista ou instituição (ex: http://seuPeriódico.suainstituicao.br)</li>
        </ul>
        <p>Mais informações no site do Periódicos em Nuvens: <a href="https://periodicos.emnuvens.com.br/">periodicos.emnuvens.com.br</a></p>
    </div>
    <div>
        <img class="mt-6" src="{{ $.Site.Params.images.logoPeriodicos }}" alt="Periódicos em Nuvens">
    </div>
</div>